
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  min-width: 300px;
}

html,
body,
#root,
.container,
.center-page {
  height: 100%;
}

.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styles.css */

.container {
  border: 1px solid #ddd;
  margin: 30px;
  padding: 30px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
}

nav ul li:after {
  content: ' | ';
}

nav ul li:last-child:after {
  content: '';
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  padding: 8px 4px;
  border: 1px solid #e8e8e8;
  margin: 8px;
}

button {
  padding: 10px 22px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #33FFD4;
}

button.on {
  background-color: #5cb85c; 
  color: white;
}

button.off {
  background-color: #d9534f;
  color: white;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  text-decoration:none;
}